<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AcessoControle</servlet-name>
        <servlet-class>br.com.controle.AcessoControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoControle</servlet-name>
        <servlet-class>br.com.controle.CarrinhoControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteControle</servlet-name>
        <servlet-class>br.com.controle.ClienteControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemCarrinhoControle</servlet-name>
        <servlet-class>br.com.controle.ItemCarrinhoControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoControle</servlet-name>
        <servlet-class>br.com.controle.PedidoControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoControle</servlet-name>
        <servlet-class>br.com.controle.ProdutoControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioControle</servlet-name>
        <servlet-class>br.com.controle.UsuarioControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcessoAdministrativo</servlet-name>
        <servlet-class>br.com.acesso.AcessoAdministrativo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcessoLogado</servlet-name>
        <servlet-class>br.com.acesso.AcessoLogado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AcessoControle</servlet-name>
        <url-pattern>/AcessoControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoControle</servlet-name>
        <url-pattern>/CarrinhoControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteControle</servlet-name>
        <url-pattern>/ClienteControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemCarrinhoControle</servlet-name>
        <url-pattern>/ItemCarrinhoControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoControle</servlet-name>
        <url-pattern>/PedidoControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoControle</servlet-name>
        <url-pattern>/ProdutoControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioControle</servlet-name>
        <url-pattern>/UsuarioControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcessoAdministrativo</servlet-name>
        <url-pattern>/AcessoAdministrativo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcessoLogado</servlet-name>
        <url-pattern>/AcessoLogado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
